/*font-family: 'Bai Jamjuree', sans-serif;*/

* ,li ,a {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #4c5359;
}

body, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}
h1, h2 {
    margin-bottom: 30px;
    font-weight: 600;
}
p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
    width: 690px;
}
h1 {
    font-size: 43px;
}
h2 {
    font-size: 35px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    position: absolute;
    top: 0px;
    width: 1440px;
    height: auto;
    z-index: -1;
}

.logo-clip {
    margin-top: 100px;
    margin-bottom: 65px;
}

.dl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}
.dl p {
    width: 315px;
    border-radius: 50px;
    padding: 20px 40px;
    margin: 0 8px;
    box-shadow: rgba(5, 5, 5,0.3) 0px -3px 0px 0px inset, hsla(171, 66%, 44%, 30%)0px 10px 20px 5px;
}
.dl a {
    color: white;
}
.dl p:first-child {
    background-color: hsl(171, 66%, 44%);
    box-shadow: rgba(5, 5, 5,0.3) 0px -3px 0px 0px inset, hsla(171, 66%, 44%, 30%)0px 10px 20px 5px;
}
.dl p:last-child {
    background-color: hsl(233, 100%, 69%);
    box-shadow: rgba(5, 5, 5,0.3) 0px -3px 0px 0px inset, hsla(233, 100%, 69%, 30%)0px 10px 20px 5px;
}

.computer {
    display: flex;
    margin-bottom: 160px;
    position: relative;
    left: -200px;
}
.computer p, .computer h3, .computer img {
    text-align: start;
    padding: 0 55px;
}
.computer img {
    
    height: 580px;
    width: auto;
}
.computer-txt {
    width: 350px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.computer-txt p {
    font-size: 11.5px;
}
.computer-txt h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.img-devices {
    margin-bottom: 80px;
}
.txt-we {
    margin-bottom: 70px;
}

.icone {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
}
.icone-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 0 20px;
}
.icone-child img {
    width: auto;
    height: 50px;
    margin-bottom: 45px;
}
.icone-child h3 {
    margin-bottom: 30px;
}
.icone-child p {
    font-size: 14px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
    width: 1130px;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f5f6f8;
    height: 150px;
}
.footer-logo {
    height: 60px;
    width: 60px;
}
.footer-nav {
    display: grid;
    grid-template-columns: 190px 190px 190px;
    grid-template-rows: 40px 40px;
    align-items: center;
}
.footer-nav p {
    text-align: start;
}
.social a {
    margin: 0 10px;
}

@media screen and (max-width: 1160px) {
    .logo {
        flex-direction: column;
        margin-bottom: 110px;
    }
    .logo img {
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 1040px) {
    .icone {
        flex-direction: column;
        margin-bottom: 70px;
    }
    .icone-child {
        margin-bottom: 60px;
    }
    footer {
        flex-direction: column;
        height: auto;
    }
    .footer-logo {
        margin-top: 50px;
    }
    .footer-logo, .footer-nav, .social {
        margin-bottom: 50px;
    }
    .img-devices {
        width: 90vw;
        height: auto;
    }

}

@media screen and (max-width: 750px) {
    .dl {
        flex-direction: column;
    }
    .dl p:first-child {
        margin-bottom: 24px;
    }
    .computer {
        flex-direction: column;
        position: unset;
        align-items: center;
        margin-bottom: 150px;
    }
    .computer img {
        width: 110vw;
        height: auto;
        margin-bottom: 50px;
    }
    .computer-txt {
        justify-content: center;
        height: fit-content;
    }
    .computer-txt p {
        margin-bottom: 50px;
    }
    h1, h2, p {
        width: 80vw;
    }
    .footer-nav {
        grid-template-columns: 200px;
        grid-template-rows: 50px 50px 50px 50px 50px;
        text-align: center;
    }
    .footer-nav p {
        text-align: center;
        width: 200px;
        margin: 0;
    }
}